<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Listado de Peliculas</title>
</head>
<body>
    <header class="bg-dark">
        <div class="row">
            <div class="col-2 align-self-center">
        <h3 class="f-ye">MyIMDb</h3>
    </div>
    <div class="col-10 align-self-center">
        <nav>
            <ul>
                <li>
                    <a class="a-nav" href="/crear"><i class="fa fa-plus mr-1" aria-hidden="true"></i>  Agregar Peli</a>
                </li>
                <li>
                    <a class="a-nav" href="/"><i class="fa fa-list mr-1"></i>  Listado Pelis</a>
                </li>

            </ul>
        </nav>
    </div>
    </div>
    </header>
